<launch>
    <node pkg="rclcpp_components" exec="component_container" name="test1">
    </node>
    <load_composable_node target="test1">
        <composable_node pkg="can_plugins2" plugin="slcan_bridge::SlcanBridge" name="slcan_bridge">
        </composable_node>
        <composable_node pkg="rabbit2023" plugin="solenoid_valve_driver_node::Solenoid_valve_driver_node" name="rabbit2023"> 
        </composable_node>
    </load_composable_node>
</launch>